*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	
	font-family: "微软雅黑","苹方","Helvetica";
}
body{
	background: #F5F6FA;
}
.db{
	width: 100%;
	height: auto;
	background: #007BE3;

}
.db img{
	width: 100%;
}
.dingbu{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #007BE3;
}
.dingbu ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.dingbu ul>li{
	width: 50%;
	height: auto;
	
	float: left;
}
.dingbu ul>li>span{
	font-size: 0.36rem;
	color: white;
	box-sizing: border-box;
	line-height: 0.64rem;
}
.dingbu ul>li>img:nth-child(1){
	float: right;
}
.banner img{
	width: 100%;
}

.box1{
	width: 100%;
	height: 0.82rem;
	line-height: 0.82rem;
}
.box1 a{
	text-decoration: none;
	color: black;
	font-size: 0.22rem;
}
.box1 span{
	font-size: 0.22rem;
	box-sizing: border-box;
	padding-top: 0.33rem;
	padding-left: 0.25rem;
}
.box2{
	width: 90%;
	height: auto;
	overflow: hidden;
	background: white;
	
	display:block;
	margin: 0px auto;
	margin-top: 0.1rem;


}
 h3{
	font-size: 0.23rem;
	color: black;
	border-bottom: 1px dashed  #BDBDBD;
}
.box2 span{
	font-size: 0.23rem;
	color: #BDBDBD;
	line-height: 0.35rem;
	box-sizing: border-box;
	padding: 0.12rem 0.2rem;
	display: inline-block;

}
.box3{
	width: 100%;
	height: 3.6rem;
	background: #474747;
}
.box4 span{
	font-size: 0.23rem;
	color: #BDBDBD;
	line-height: 0.35rem;
	box-sizing: border-box;
	padding: 0.12rem 0.2rem;
	display: inline-block;
	border-bottom: 0.01rem dashed #BDBDBD;

}
.box4 img{
	margin-left: 0.2rem;
	width: 100%;
}
.box5{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding-left: 0.25rem;
}
.box5 span{
	font-size: 0.22rem;
	color: black;

}
.box5 i{
	font-style: normal;
	color: skyblue;
	font-size: 0.22rem;
}


.box6{
	width: 90%;
	height: auto;
	overflow: hidden;
	background: white;
	
	display:block;
	margin: 0rem auto;
	margin-top: 0.1rem;


}
.box6 h6{
	
	border-bottom: 0.01rem dashed #c1c1c1;
}

.box6 span{
	font-size: 0.23rem;
	color: #BDBDBD;
	line-height: 0.35rem;
	box-sizing: border-box;
	padding: 0.12rem 0.2rem;
	display: inline-block;

}
.box6 span:nth-child(5){
	color: skyblue;
}

.box7{
	width: 69%;
	text-align: center;
	line-height: 0.26rem;
	margin: 0.01rem auto;
	margin-top: 0.2rem;
}
.box7 span{
	font-size: 0.21rem;
	color: #666666;
}
